<!-- Edit/Delete Buttons -->
<div
  class="position-fixed end-0 bef bef-z-15"
  *ngIf="identity && identity.role == 'ROLE_ADMIN'"
  [ngClass]="{
    'bef-top-150px': windowWidth < 767,
    'bef-top-15per': windowWidth >= 767
  }"
>
  <button
    *ngIf="edit === false"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2"
    (click)="editChange()"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-pencil-square"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
      <path
        fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
    </svg>
  </button>

  <button
    *ngIf="edit == true"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2 font-weight-normal float-right"
    (click)="editChange()"
  >
    X
  </button>
</div>

<h2 class="text-center bef bef-my-3rem">Book</h2>

<section>
  <article class="d-flex flex-wrap align-items-center mx-auto w-95 p-1 my-3">
    <img ngxMasonryItem
      *ngFor="let img of imgs"
      class="obj-fit-cover mx-auto p-1"
      src="https://picsum.photos/{{ img.width }}/{{ img.height }}"
      alt="https://picsum.photos/{{ img.width }}/{{ img.height }}"
      [ngClass]="{
        'col-1': img.width < windowWidth / 12,
        'col-2':
          img.width > windowWidth / 12 && img.width < (windowWidth / 12) * 2,
        'col-3':
          img.width > (windowWidth / 12) * 2 &&
          img.width < (windowWidth / 12) * 3,
        'col-4':
          img.width > (windowWidth / 12) * 3 &&
          img.width < (windowWidth / 12) * 4,
        'col-5':
          img.width > (windowWidth / 12) * 4 &&
          img.width < (windowWidth / 12) * 5,
        'col-6':
          img.width > (windowWidth / 12) * 5 &&
          img.width < (windowWidth / 12) * 6,
        'col-7':
          img.width > (windowWidth / 12) * 6 &&
          img.width < (windowWidth / 12) * 7,
        'col-8':
          img.width > (windowWidth / 12) * 7 &&
          img.width < (windowWidth / 12) * 8,
        'col-9':
          img.width > (windowWidth / 12) * 10 &&
          img.width < (windowWidth / 12) * 9,
        'col-10':
          img.width > (windowWidth / 12) * 9 &&
          img.width < (windowWidth / 12) * 10,
        'col-11':
          img.width > (windowWidth / 12) * 10 &&
          img.width < (windowWidth / 12) * 11,
        'col-12':
          img.width > (windowWidth / 12) * 11 && img.width < windowWidth,
        col: img.width > windowWidth
      }"
    />
  </article>
</section>

<!--
  [ngClass]="{
        'col-2': img.width < (windowWidth / 12) * 2,
        'col-4':
          img.width > (windowWidth / 12) * 2 &&
          img.width < (windowWidth / 12) * 4,
        'col-6':
          img.width > (windowWidth / 12) * 4 &&
          img.width < (windowWidth / 12) * 6,
        'col-8':
          img.width > (windowWidth / 12) * 6 &&
          img.width < (windowWidth / 12) * 8,
        'col-10':
          img.width > (windowWidth / 12) * 8 &&
          img.width < (windowWidth / 12) * 10,
        'col-12':
          img.width > (windowWidth / 12) * 10 && img.width < windowWidth,
        col: img.width > windowWidth
      }"
-->

<!--
  'col-1': img.width < windowWidth / 12,
        'col-2':
          img.width > windowWidth / 12 &&
          img.width < (windowWidth / 12) * 2,
        'col-3':
          img.width > (windowWidth / 12) * 2 &&
          img.width < (windowWidth / 12) * 3,
        'col-4':
          img.width > (windowWidth / 12) * 3 &&
          img.width < (windowWidth / 12) * 4,
        'col-5':
          img.width > (windowWidth / 12) * 4 &&
          img.width < (windowWidth / 12) * 5,
        'col-6':
          img.width > (windowWidth / 12) * 5 &&
          img.width < (windowWidth / 12) * 6,
        'col-7':
          img.width > (windowWidth / 12) * 6 &&
          img.width < (windowWidth / 12) * 7,
        'col-8':
          img.width > (windowWidth / 12) * 7 &&
          img.width < (windowWidth / 12) * 8,
        'col-9':
          img.width > (windowWidth / 12) * 10 &&
          img.width < (windowWidth / 12) * 9,
        'col-10':
          img.width > (windowWidth / 12) * 9 &&
          img.width < (windowWidth / 12) * 10,
        'col-11':
          img.width > (windowWidth / 12) * 10 &&
          img.width < (windowWidth / 12) * 11,
        'col-12':
          img.width > (windowWidth / 12) * 11 &&
          img.width < windowWidth,
        col: img.width > windowWidth
-->

<!--
  'col-4':
          img.width < (windowWidth / 12) * 4,
        'col-8':
          img.width > (windowWidth / 12) * 4 &&
          img.width < (windowWidth / 12) * 8,
        'col-12':
          img.width > (windowWidth / 12) * 8 &&
          img.width < windowWidth,
        col: img.width > windowWidth
-->
