<!-- Edit/Delete Buttons -->
<div
  class="position-fixed end-0 bef bef-z-15"
  *ngIf="identity && identity.role == 'ROLE_ADMIN'"
  [ngClass]="{
    'bef-top-150px': windowWidth <= 767,
    'bef-top-15per': windowWidth > 767
  }"
>
  <button
    *ngIf="edit === false"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2"
    (click)="editChange()"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-pencil-square"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
      <path
        fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
    </svg>
  </button>

  <button
    *ngIf="edit == true"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2 font-weight-normal float-right"
    (click)="editChange()"
  >
    X
  </button>
</div>

<h2 class="text-center bef bef-my-3rem">Web Sites & Proyects</h2>

<section>
  <article
    *ngFor="let website of webSites; let i = index"
    class="my-5 py-5 bef bef-bg-tdark__OPA__0_75 position-relative"
  >
    <!-- Edit/Delete Buttons -->
    <div
      class="position-absolute end-0 bef bef-top-20per bef-z-10"
      *ngIf="identity && identity.role == 'ROLE_ADMIN' && edit === true"
      [ngClass]="{
        'bef-top-50px': windowWidth <= 767,
        'bef-top-5per': windowWidth > 767
      }"
    >
      <button
        *ngIf="webSite._id !== website._id"
        class="btn bef bef-btn-fullYellow bef-text-tdark mr-2"
        (click)="websiteEdit(website)"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-pencil-square"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
          />
          <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
          />
        </svg>
      </button>

      <button
        *ngIf="webSite._id === website._id"
        class="btn bef bef-btn-fullYellow bef-text-tdark mr-2 font-weight-normal float-right"
        (click)="websiteEdit(website)"
      >
        X
      </button>
    </div>
    <div
      class="d-flex flex-column px-3 bef bef-w-95per mx-auto"
      [ngClass]="{
        'align-items-start': i % 2 === 0,
        'align-items-end': i % 2 === 1
      }"
    >
      <h3>
        <ng-container *ngIf="lang === 'es'; else elseTitleLangTemplate">
          {{ website.title }}
        </ng-container>
        <ng-template #elseTitleLangTemplate>
          {{ website.titleEng }}
        </ng-template>
      </h3>
      <h4>
        <ng-container *ngIf="lang === 'es'; else elseTypeLangTemplate">
          {{ website.type }}
        </ng-container>
        <ng-template #elseTypeLangTemplate>
          {{ website.typeEng }}
        </ng-template>
      </h4>
    </div>
    <div
      class="d-flex flex-column align-items-center my-3 bef bef-w-90per mx-auto"
    >
      <div
        *ngIf="
          website &&
          ((website.desktopImg && website.desktopImg.location) ||
            (website.tabletImg && website.tabletImg.location) ||
            (website.mobileImg && website.mobileImg.location))
        "
        [ngStyle]="{ order: i % 2 === 0 ? 2 : 1 }"
        [ngClass]="{
          'w-100': windowWidth < 767,
          'mt-3 mb-5': windowWidth <= 767
        }"
      >
        <div
          class="position-relative mx-auto bef"
          [ngClass]="{
            'bef-h-300px': windowWidth < 575,
            'bef-h-250px': windowWidth < 767 && windowWidth >= 576,
            'bef-w-90per': windowWidth < 767,
            'd-flex justify-content-between align-items-end bef-w-75per':
              windowWidth > 767
          }"
        >
          <img
            *ngIf="website && website.desktopImg && website.desktopImg.location"
            class="bef bef-rounded-5px"
            src="{{ urlMain + 'get-file/' + website.desktopImg.location }}"
            alt="{{ website.desktopImg.title }}"
            [ngClass]="{
              'position-absolute top-0 start-0 w-100': windowWidth < 767,
              'position-relative w-50': windowWidth > 767
            }"
          />
          <img
            *ngIf="website && website.tabletImg && website.tabletImg.location"
            class="bef bef-rounded-5px"
            src="{{ urlMain + 'get-file/' + website.tabletImg.location }}"
            alt="{{ website.tabletImg.title }}"
            [ngClass]="{
              'position-absolute bef-bot-25per end-0 bef-w-33per':
                windowWidth < 767,
              'position-relative bef-w-15per': windowWidth > 767
            }"
          />
          <img
            *ngIf="website && website.mobileImg && website.mobileImg.location"
            class="bef bef-rounded-5px"
            src="{{ urlMain + 'get-file/' + website.mobileImg.location }}"
            alt="{{ website.mobileImg.title }}"
            [ngClass]="{
              'position-absolute bottom-0 bef-end-25per bef-w-20per':
                windowWidth < 767,
              'position-relative bef-w-10per': windowWidth > 767
            }"
          />
        </div>
      </div>
      <div
        class="bef w-100 bef-text-ulight px-2 mx-auto text-center"
        [ngStyle]="{ order: i % 2 === 1 ? 1 : 2 }"
      >
        <ng-container *ngIf="lang === 'es'; else elseDescLangTemplate">
          {{ website.desc }}
        </ng-container>
        <ng-template #elseDescLangTemplate>
          {{ website.descEng }}
        </ng-template>
      </div>
    </div>
    <a
      href="{{ website.link }}"
      target="_blank"
      class="text-center fw-bold d-block mx-auto mt-5 mb-3"
    >
      {{ website.link }}
    </a>
  </article>
</section>

<section class="my-5 py-5" *ngIf="edit === true">
  <h2 class="text-center my-3">
    <ng-container
      *ngIf="webSite._id && webSite._id !== ''; else elseWebSiteIdTemplate"
    >
      Edición
    </ng-container>
    <ng-template #elseWebSiteIdTemplate> Creación </ng-template>
    del proyecto web
  </h2>

  <!-- Title Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="title">Título</label>
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="title"
      #title="ngModel"
      [(ngModel)]="webSite.title"
      placeholder="Título"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!title.valid && title.touched"
    >
      El título es obligatorio.
    </span>
  </div>

  <!-- TitleEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="titleEng"
      >Title(English)</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="titleEng"
      #titleEng="ngModel"
      [(ngModel)]="webSite.titleEng"
      placeholder="Title"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!titleEng.valid && titleEng.touched"
    >
      The title(english) is required.
    </span>
  </div>

  <!-- Type Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="type">Tipo</label>
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="type"
      #type="ngModel"
      [(ngModel)]="webSite.type"
      placeholder="Tipo"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!type.valid && type.touched"
    >
      El tipo es obligatorio.
    </span>
  </div>

  <!-- TypeEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="typeEng"
      >Type(English)</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="typeEng"
      #typeEng="ngModel"
      [(ngModel)]="webSite.typeEng"
      placeholder="Type(English)"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!typeEng.valid && typeEng.touched"
    >
      The type(english) is required.
    </span>
  </div>

  <!-- Desc Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="desc"
      >Descripción</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="desc"
      #desc="ngModel"
      [(ngModel)]="webSite.desc"
      placeholder="Descripción"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!desc.valid && desc.touched"
    >
      El descripción es obligatorio.
    </span>
  </div>

  <!-- DescEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="descEng"
      >Description(English)</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="descEng"
      #descEng="ngModel"
      [(ngModel)]="webSite.descEng"
      placeholder="Description(English)"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!descEng.valid && descEng.touched"
    >
      The description(english) is required.
    </span>
  </div>

  <!-- Link Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="link">Link</label>
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="link"
      #link="ngModel"
      [(ngModel)]="webSite.link"
      placeholder="Link"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!link.valid && link.touched"
    >
      El link es obligatorio.
    </span>
  </div>

  <div
    *ngIf="webSite._id && webSite._id !== ''"
    class="my-5 d-flex flex-wrap justify-content-evenly"
  >
    <h2 class="text-center my-3 w-100">Archivos</h2>

    <!-- desktopImg Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de desktopImg
      </h3>
      <img
        *ngIf="webSite && webSite.desktopImg && webSite.desktopImg.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + webSite.desktopImg.location }}"
        alt="{{ webSite.desktopImg.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'web-site'"
        [thing]="webSite.desktopImg"
        [thingInside]="true"
        [id]="webSite._id + '/desktopImg'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- tabletImg Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de tabletImg
      </h3>
      <img
        *ngIf="webSite && webSite.tabletImg && webSite.tabletImg.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + webSite.tabletImg.location }}"
        alt="{{ webSite.tabletImg.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'web-site'"
        [thing]="webSite.tabletImg"
        [thingInside]="true"
        [id]="webSite._id + '/tabletImg'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- mobileImg Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de mobileImg
      </h3>
      <img
        *ngIf="webSite && webSite.mobileImg && webSite.mobileImg.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + webSite.mobileImg.location }}"
        alt="{{ webSite.mobileImg.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'web-site'"
        [thing]="webSite.mobileImg"
        [thingInside]="true"
        [id]="webSite._id + '/mobileImg'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>
  </div>

  <!-- Submit -->
  <button
    (click)="onSubmit()"
    class="bef btn bef-btn-fullRed bef-text-tdark p-2 mx-auto my-5 d-block w-50"
  >
    Submit
  </button>
</section>
