<h2 class="text-center">Web Sites</h2>

<section>
  <article
    *ngFor="let website of [0, 1, 2, 3, 4]; let i = index"
    class="my-3 py-5 bef bef-bg-tdark__OPA__0_75"
  >
    <div
      class="d-flex flex-column px-3 w-95 mx-auto"
      [ngClass]="{
        'align-items-start': i % 2 === 0,
        'align-items-end': i % 2 === 1
      }"
    >
      <h3>Website</h3>
      <h4>Type</h4>
    </div>
    <div class="d-flex flex-row flex-md-column align-items-center my-3 bef bef-w-50per bef-w-md-90per">
      <div
        [ngStyle]="{ order: i % 2 === 0 ? 2 : 1 }"
        [ngClass]="{
          'mt-3 mb-5': checkWindowWidth('up', 767)
        }"
      >
        <div
          class="position-relative mx-auto bef"
          [ngClass]="{
            'bef-h-150px': checkWindowWidth('down', 575),
            'bef-h-250px': checkWindowWidth('down', 767) && checkWindowWidth('up', 576),
            'bef-w-90per': checkWindowWidth('down', 767),
            'd-flex justify-content-between align-items-end bef-w-75per':
              checkWindowWidth('up', 767)
          }"
        >
          <img
            src="https://picsum.photos/192{{ i }}/108{{ i }}"
            alt="https://picsum.photos/200/300"
            [ngClass]="{
              'position-absolute top-0 start-0 w-100': checkWindowWidth(
                'down',
                767
              ),
              'position-relative w-50': checkWindowWidth('up', 767)
            }"
          />
          <img
          class="bef bef-rounded-5px"
            src="https://picsum.photos/76{{ i }}/102{{ i }}"
            alt="https://picsum.photos/200/300"
            [ngClass]="{
              'position-absolute bef-bot-25per end-0 bef-w-33per': checkWindowWidth(
                'down',
                767
              ),
              'position-relative bef-w-15per': checkWindowWidth('up', 767)
            }"
          />
          <img
          class="bef bef-rounded-5px"
            src="https://picsum.photos/32{{ i }}/56{{ i }}"
            alt="https://picsum.photos/200/300"
            [ngClass]="{
              'position-absolute bottom-0 bef-end-25per bef-w-20per': checkWindowWidth(
                'down',
                767
              ),
              'position-relative bef-w-10per': checkWindowWidth('up', 767)
            }"
          />
        </div>
      </div>
      <div
        class="bef bef-w-50per bef-w-md-100per bef-text-ulight px-2"
        [ngStyle]="{ order: i % 2 === 1 ? 1 : 2 }"
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit quas
        mollitia doloremque, voluptatum dolor at.
      </div>
    </div>
    <a href="" target="_blank" class="text-center fw-bold d-block mx-auto my-3">
      link
    </a>
  </article>
</section>
