<h2 class="text-center bef bef-my-3rem">Music</h2>

<section>
  <article
    class="bef bef-bg-tdark__OPA__0_75 bef-boxShadow-4px__0__4px__midRed p-3"
  >
    <h3 class="text-center">Best Songs</h3>

    <div class="d-flex flex-wrap p-3">
      <div
        *ngFor="let item of [0, 1]; let i = index"
        class="bef bef-w-100per bef-w-md-50per bef-mt-md-1rem bef-mb-md-3rem"
      >
        <div *ngFor="let nitem of [0, 1, 2, 3, 4, 5, 6, 7, 8]; let ix = index">
          <div
            *ngIf="
              (i === 0 && ix <= [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2) ||
              (i === 1 && ix > [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2)
            "
            class="mx-auto bef bef-w-90per d-flex align-items-center justify-content-between bef-text-tlight"
          >
            <button class="btn bef bef-w-80per m-0 text-left bef-text-tlight">
              Song {{ ix }}
            </button>
            <button class="btn w-10 bef bef-text-tlight">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-play-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                />
              </svg>
            </button>
            <button class="btn w-10 bef bef-text-tlight">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-link"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"
                />
                <path
                  d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="my-5">
    <h3 class="text-center my-3">Albums</h3>

    <div class="d-flex flex-wrap py-3">
      <div
        *ngFor="let item of [0, 1]; let i = index"
        class="bef bef-w-100per bef-w-md-50per bef-mt-md-1rem bef-mb-md-3rem"
      >
        <div *ngFor="let nitem of [0, 1, 2, 3, 4, 5, 6, 7, 8]; let ix = index">
          <div
            *ngIf="
              (i === 0 && ix <= [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2) ||
              (i === 1 && ix > [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2)
            "
            class="mx-auto my-4 w-45vw d-flex align-items-center justify-content-between text-tlight"
          >
            <img
              class="w-20vw h-20vw"
              [ngClass]="{
                'order-2':
                  (i === 0 &&
                    ix <= [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2 &&
                    ix % 2 === 1) ||
                  (i === 1 &&
                    ix > [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2 &&
                    ix % 2 === 0)
              }"
              src="https://picsum.photos/30{{ ix + 1 }}/30{{ ix + 1 }}"
              alt="https://picsum.photos/30{{ ix + 1 }}/30{{ ix + 1 }}"
            />
            <div
              class="bef bef-w-20vw bef-h-20vw d-flex"
              [ngClass]="{
                'order-2':
                  (i === 0 &&
                    ix <= [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2 &&
                    ix % 2 === 0) ||
                  (i === 1 &&
                    ix > [0, 1, 2, 3, 4, 5, 6, 7, 8].length / 2 &&
                    ix % 2 === 1)
              }"
            >
              <img
                class="bef bef-w-33per m-3 align-self-start"
                src="https://picsum.photos/3{{ ix + 1 }}0/3{{ ix + 1 }}0"
                alt="https://picsum.photos/3{{ ix + 1 }}0/3{{ ix + 1 }}0"
              />
              <img
                class="bef bef-w-33per m-3 align-self-end"
                src="https://picsum.photos/30{{ ix + 1 + ix + 1 }}/30{{
                  ix + 1 + ix + 1
                }}"
                alt="https://picsum.photos/30{{ ix + 1 + ix + 1 }}/30{{
                  ix + 1 + ix + 1
                }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
