<div
  class="d-flex flex-wrap justify-content-start align-items-center mx-auto bef bef-w-clampSD200pxCOM50perCOM50perED bef-my-1_5rem"
>
  <a
    *ngFor="let cat of cats; let last$ = last"
    [exist]="last$"
    (ngInit)="cssCreate()"
    class="btn text-center bef-lh-1_5 badge rounded-pill px-3 py-1 bef-bg-{{
      !!cat.buttonColor ? cat.buttonColor.replace('#', 'HASH') : 'dark'
    }} bef-text-{{ !!cat.titleColor ? cat.titleColor.replace('#', 'HASH') : 'light' }}"
    [routerLink]="['/blog/list-cat/', cat._id, '1']"
    href="/blog/list-cat/{{ cat._id }}/1"
    rel=" noopener noreferrer "
  >
    {{ cat.title }}
  </a>
</div>
