<!-- Edit/Delete Buttons -->
<div
  class="position-fixed end-0 bef"
  *ngIf="identity && identity.role == 'ROLE_ADMIN'"
  [ngClass]="{
    'bef-top-150px': windowWidth < 767,
    'bef-top-15per': windowWidth >= 767
  }"
>
  <button
    *ngIf="edit === false"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2"
    (click)="editChange()"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-pencil-square"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
      <path
        fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
    </svg>
  </button>

  <button
    *ngIf="edit == true"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2 font-weight-normal float-right"
    (click)="editChange()"
  >
    X
  </button>
</div>

<div
  *ngIf="
    main &&
    main.welcome &&
    main.welcome !== '' &&
    main.welcomeEng &&
    main.welcomeEng !== ''
  "
  class="mx-auto my-5 py-5 text-center w-75 bef bef-text-tlight"
>
  <ng-container *ngIf="lang === 'es'; else elseWelcomeTemplate">
    <div
      *ngIf="main.welcome && main.welcome !== ''"
      [innerHTML]="
        Linkify(this.valuefy(main.welcome), '#ffffff', '#f9c24f') | safeHtml
      "
    ></div>
  </ng-container>
  <ng-template #elseWelcomeTemplate>
    <div
      *ngIf="main.welcomeEng && main.welcomeEng !== ''"
      [innerHTML]="
        Linkify(this.valuefy(main.welcomeEng), '#ffffff', '#f9c24f') | safeHtml
      "
    ></div>
  </ng-template>
</div>

<nav>
  <ul class="mx-auto w-75 d-flex flex-wrap justify-content-center ps-0 mb-0">
    <li class="mx-3">
      <a
        href="/webs"
        [routerLink]="['/webs']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.websites" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/reel"
        [routerLink]="['/reel']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.demoreel" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/book"
        [routerLink]="['/book']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.book" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/music"
        [routerLink]="['/music']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.music" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a href="/cv" [routerLink]="['/cv']" class="text-decoration-none fw-bold">
        {{ "app.cv" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/blog"
        [routerLink]="['/blog']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.blog" | translate }}
      </a>
    </li>
  </ul>
</nav>

<div class="my-5 py-5" *ngIf="edit === true">
  <h2 class="text-center my-3">Edición del sitio</h2>

  <!-- Bienvenida Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="welcome"
      >Bienvenida</label
    >
    <textarea
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="welcome"
      #welcome="ngModel"
      [(ngModel)]="main.welcome"
      placeholder="Bienvenida"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!welcome.valid && welcome.touched"
    >
      La bienvenida es obligatoria.
    </span>
  </div>

  <!-- Welcome Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="welcomeEng"
      >Welcome</label
    >
    <textarea
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="welcomeEng"
      #welcomeEng="ngModel"
      [(ngModel)]="main.welcomeEng"
      placeholder="Welcome"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!welcomeEng.valid && welcomeEng.touched"
    >
      The welcome is required.
    </span>
  </div>

  <!-- CVDesc Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="CVDesc"
      >Descripción de CV</label
    >
    <textarea
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="CVDesc"
      #CVDesc="ngModel"
      [(ngModel)]="main.CVDesc"
      placeholder="Descripción de CV"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!CVDesc.valid && CVDesc.touched"
    >
      La descripción de CV es obligatoria.
    </span>
  </div>

  <!-- CVDescEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="CVDescEng"
      >CV Description</label
    >
    <textarea
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="CVDescEng"
      #CVDescEng="ngModel"
      [(ngModel)]="main.CVDescEng"
      placeholder="CV Description"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!CVDescEng.valid && CVDescEng.touched"
    >
      The description of the CV is required.
    </span>
  </div>

  <!-- CVDesc2 Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="CVDesc2"
      >Descripción de CV 2</label
    >
    <textarea
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="CVDesc2"
      #CVDesc2="ngModel"
      [(ngModel)]="main.CVDesc2"
      placeholder="Descripción de CV 2"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!CVDesc2.valid && CVDesc2.touched"
    >
      La descripción de CV es obligatoria.
    </span>
  </div>

  <!-- CVDesc2Eng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="CVDesc2Eng"
      >CV Description 2</label
    >
    <textarea
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="CVDesc2Eng"
      #CVDesc2Eng="ngModel"
      [(ngModel)]="main.CVDesc2Eng"
      placeholder="CV Description 2"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!CVDesc2Eng.valid && CVDesc2Eng.touched"
    >
      The description 2 of the CV is required.
    </span>
  </div>

  <!-- Key Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="key">Llave</label>
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="key"
      #key="ngModel"
      [(ngModel)]="main.key"
      placeholder="Llave"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!key.valid && key.touched"
    >
      La llave es obligatoria.
    </span>
  </div>

  <!-- KeyOld Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="keyOld"
      >Llave anterior</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="keyOld"
      #keyOld="ngModel"
      [(ngModel)]="main.keyOld"
      placeholder="Llave anterior"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!keyOld.valid && keyOld.touched"
    >
      La llave anterior es obligatoria.
    </span>
  </div>

  <!-- errorMessage Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="errorMessage"
      >Mensaje de error</label
    >
    <textarea
      class="bef bef-w-100per text-tlight bef-bg-tdark border-0"
      type="text"
      name="errorMessage"
      #errorMessage="ngModel"
      [(ngModel)]="main.errorMessage"
      placeholder="Mensaje de error"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!errorMessage.valid && errorMessage.touched"
    >
      El mensaje de error es obligatoria.
    </span>
  </div>

  <!-- errorMessageEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="errorMessageEng"
      >Error message</label
    >
    <textarea
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="errorMessageEng"
      #errorMessageEng="ngModel"
      [(ngModel)]="main.errorMessageEng"
      placeholder="Error message"
      required
    ></textarea>
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!errorMessageEng.valid && errorMessageEng.touched"
    >
      The error message is required.
    </span>
  </div>

  <!-- seoTags Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="seoTags"
      >Keywords</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="seoTags"
      #seoTags="ngModel"
      [(ngModel)]="main.seoTags"
      placeholder="Keywords"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!seoTags.valid && seoTags.touched"
    >
      The keywords are required.
    </span>
  </div>

  <div class="my-5 d-flex flex-wrap justify-content-evenly">
    <h2 class="text-center my-3 w-100">Archivos</h2>

    <!-- Logo Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de la imagen del logo
      </h3>
      <img
        *ngIf="main && main.logo && main.logo.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + main.logo.location }}"
        alt="{{ main.logo.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'main'"
        [thing]="main.logo"
        [thingInside]="true"
        [id]="'logo'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- BG Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida del fondo
      </h3>
      <img
        *ngIf="main && main.backgroundImg && main.backgroundImg.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + main.backgroundImg.location }}"
        alt="{{ main.backgroundImg.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'main'"
        [thing]="main.backgroundImg"
        [thingInside]="true"
        [id]="'backgroundImg'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- CVImage Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de la imagen del CV
      </h3>
      <img
        *ngIf="main && main.CVImage && main.CVImage.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + main.CVImage.location }}"
        alt="{{ main.CVImage.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'main'"
        [thing]="main.CVImage"
        [thingInside]="true"
        [id]="'CVImage'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>

    <!-- CVBackground Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida del fondo del CV
      </h3>
      <img
        *ngIf="main && main.CVBackground && main.CVBackground.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + main.CVBackground.location }}"
        alt="{{ main.CVBackground.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'main'"
        [thing]="main.CVBackground"
        [thingInside]="true"
        [id]="'CVBackground'"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>
  </div>

  <!-- Submit -->
  <button
    (click)="onSubmit()"
    class="bef btn bef-btn-fullRed bef-text-tdark p-2 mx-auto my-5 d-block w-50"
  >
    Submit
  </button>
</div>
