<div
  *ngIf="
    main &&
    main.welcome &&
    main.welcome !== '' &&
    main.welcomeEng &&
    main.welcomeEng !== ''
  "
  class="mx-auto my-5 p-5 text-center w-75 text-tlight"
>
  <ng-container *ngIf="lang === 'es'; else elseTemplate">
    <div
      *ngIf="main.welcome && main.welcome !== ''"
      [innerHTML]="
        Linkify(this.valuefy(main.welcome), '#ffffff', '#f9c24f') | safeHtml
      "
    ></div>
  </ng-container>
  <ng-template #elseTemplate>
    <div
      *ngIf="main.welcomeEng && main.welcomeEng !== ''"
      [innerHTML]="
        Linkify(this.valuefy(main.welcomeEng), '#ffffff', '#f9c24f') | safeHtml
      "
    ></div>
  </ng-template>
</div>

<nav>
  <ul class="mx-auto w-75 d-flex flex-wrap justify-content-center ps-0 mb-0">
    <li class="mx-3">
      <a
        href="/webs"
        [routerLink]="['/webs']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.websites" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/reel"
        [routerLink]="['/reel']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.demoreel" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/book"
        [routerLink]="['/book']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.book" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/music"
        [routerLink]="['/music']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.music" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a href="/cv" [routerLink]="['/cv']" class="text-decoration-none fw-bold">
        {{ "app.cv" | translate }}
      </a>
    </li>
    <li class="mx-3">
      <a
        href="/blog"
        [routerLink]="['/blog']"
        class="text-decoration-none fw-bold"
      >
        {{ "app.blog" | translate }}
      </a>
    </li>
  </ul>
</nav>

<div *ngIf="edit === true">

</div>
