$fullRed: #f94f4f !default;
$fullYellow: #f9c24f !default;
$fullBlue: #4f4ff9 !default;
$facebook: #0a58ca !default;
$whatsApp: #48C02D !default;
$twitter: #1C9BEA !default;
$gmail: #CF4B3B !default;
$linkedIn: #2465AA !default;
$udark: #050505 !default;
$tdark: #000000 !default;
$ulight: #f5f5f5 !default;
$tlight: #ffffff !default;
$transparent: rgba(0,0,0,0) !default;
$trdark25: rgba(0,0,0,0.25) !default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "fullRed": $fullRed,
    "fullYellow": $fullYellow,
    "fullBlue": $fullBlue,
    "facebook": $facebook,
    "whatsApp": $whatsApp,
    "twitter": $twitter,
    "gmail": $gmail,
    "linkedIn": $linkedIn,
    "udark": $udark,
    "tdark": $tdark,
    "ulight": $ulight,
    "tlight": $tlight,
    "trdark25": $trdark25,
    "transparent": $transparent,
    ),
  $theme-colors
);

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
}

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
  a#{$parent},
  button#{$parent} {
    @include hover-focus() {
      background-color: darken($color, 10%) !important;
    }
  }
}

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}
