<!-- Edit/Delete Buttons -->
<generic-group-buttons
  *ngIf="!!canEdit || !article._id"
  [buttonComboClass]="
    'position-fixed d-flex justify-content-start bef bef-t-9rem bef-e-3rem'
  "
  [buttons]="buttonsToEdit"
  (clicked)="onClickButton($event)"
></generic-group-buttons>
<!-- Created_at -->
<p
  *ngIf="!!article.create_at"
  class="text-center bef bef-py-1_5rem"
  [exist]="!!article.create_at"
  (ngInit)="cssCreate()"
>
  {{ article.create_at | amLocale : "es" | amDateFormat : "LL" }}
</p>
<!-- Cat -->
<blog-cat-badgets
  *ngIf="!!article.cat && !!article.cat._id"
  [cats]="[article.cat]"
  [lang]="lang"
>
</blog-cat-badgets>
<!-- Cat Edit -->
<blog-cat-edit
  [article]="article"
  [cats]="cats"
  (getArticleCats)="getCats(); getSubCats()"
  (catSelected)="bringSubCatsFromSelectedCat()"
></blog-cat-edit>
<!-- SubCats -->
<blog-subcat-badgets
  *ngIf="
    !!article.cat &&
    !!article.cat._id &&
    !!article.cat.subCats &&
    !!article.cat.subCats[0]?._id
  "
  [subcats]="[article.cat.subCats]"
  [lang]="lang"
>
</blog-subcat-badgets>
<!-- SubCats Edit -->
<blog-subcat-edit
  *ngIf="!!article.cat"
  [article]="article"
  [subCats]="this.availableSubCats"
  (getArticleSubCats)="getCats(); getSubCats()"
></blog-subcat-edit>
<!-- Título -->
<h2
  *ngIf="article.title"
  [exist]="!!article.title"
  (ngInit)="cssCreate()"
  class="text-uppercase px-5 my-5 bef bef-text-fullYellow"
  (click)="onClickButton('┼type┼title')"
  [innerHTML]="article.title.replace('\n', '<br />') | safeHtml"
></h2>
<generic-input
  *ngIf="
    identity && (!article.title || edits.includes('title')) && isEdit == true
  "
  class="d-block w-75 bef bef-wmn-220px mx-auto my-3"
  [thingFather]="article"
  [thing]="'title'"
  [type]="'textarea'"
  [placeholder]="'Título'"
  [spans]="[
    {
      text: 'El título es obligatorio.',
      evalThing: 'required',
      spanClass: 'bef bef-text-fullYellow'
    }
  ]"
  [labelClasses]="'bef bef-text-fullYellow'"
  [inputClasses]="
    'bef bef-text-fullYellow w-100 border-0 text-uppercase text-center bef-fs-1_75rem bg-transparent'
  "
  [inputContainerClasses]="'w-100 d-flex mx-auto px-5 align-items-center'"
  [hrClasses]="'bef bef-bg-fullYellow'"
  [buttons]="[
    {
      type: 'cancel┼type┼title',
      classButton: 'mx-2 bef-w-50px bef-h-50px',
      customHtml: 'cancel┼type┼title',
      tooltip: 'Cerrar Edición'
    }
  ]"
  (clicked)="onClickButton($event)"
></generic-input>
<!-- Intro -->
<section
  class="p-3 text-center font-weight-bold w-75 bef bef-wmn-220px mx-auto bef bef-my-50px bef-oveflowX-hidden"
  *ngIf="article.intro"
  [exist]="!!article.intro"
  (ngInit)="cssCreate()"
  (click)="onClickButton('┼type┼intro')"
  [innerHTML]="
    (
      {
        text: this.valuefy(article.intro),
        textcolor: 'bef-text-tlight',
        linkcolor: 'bef-link-fullYellow'
      } | linkify
    ).text | safeHtml
  "
></section>
<generic-input
  *ngIf="
    identity && (!article.intro || edits.includes('intro')) && isEdit == true
  "
  class="d-block w-75 bef bef-wmn-220px mx-auto my-3"
  [thingFather]="article"
  [thing]="'intro'"
  [type]="'text'"
  [placeholder]="'Introducción del artículo'"
  [labelClasses]="'bef bef-text-fullYellow'"
  [inputClasses]="
    'bef bef-text-fullYellow w-100 border-0 text-center bg-transparent'
  "
  [inputContainerClasses]="'w-100 d-flex mx-auto px-5 align-items-center'"
  [hrClasses]="'bef bef-bg-fullYellow'"
  [buttons]="[
    {
      type: 'cancel┼type┼intro',
      classButton: 'mx-2 bef-w-50px bef-h-50px',
      customHtml: 'cancel┼type┼intro',
      tooltip: 'Cerrar Edición'
    }
  ]"
  (clicked)="onClickButton($event)"
></generic-input>
<!-- Sections -->
<article-sections
  [article]="article"
  [isEdit]="isEdit"
  [apiBlog]="urlBlog"
  (getArticle)="getArticle()"
></article-sections>
<!-- Outro -->
<section
  class="p-3 text-center font-weight-bold w-75 bef bef-wmn-220px mx-auto bef bef-overflowX-hidden bef-my-50px"
  *ngIf="article.outro"
  [exist]="!!article.outro"
  (ngInit)="cssCreate()"
  (click)="onClickButton('┼type┼outro')"
  [innerHTML]="
    (
      {
        text: this.valuefy(article.outro),
        textcolor: 'bef-text-tlight',
        linkcolor: 'bef-text-fullYellow'
      } | linkify
    ).text | safeHtml
  "
></section>
<generic-input
  *ngIf="
    identity && (!article.outro || edits.includes('outro')) && isEdit == true
  "
  class="d-block w-75 bef bef-wmn-220px mx-auto my-3"
  [thingFather]="article"
  [thing]="'outro'"
  [type]="'text'"
  [placeholder]="'Outro del artículo'"
  [labelClasses]="'bef bef-text-fullYellow'"
  [inputClasses]="
    'bef bef-text-fullYellow w-100 border-0 text-center bg-transparent'
  "
  [inputContainerClasses]="'w-100 d-flex mx-auto px-5 align-items-center'"
  [hrClasses]="'bef bef-bg-fullYellow'"
  [buttons]="[
    {
      type: 'cancel┼type┼int',
      classButton: 'mx-2 bef-w-50px bef-h-50px',
      customHtml: 'cancel┼type┼int',
      tooltip: 'Cerrar Edición'
    }
  ]"
  (clicked)="onClickButton($event)"
></generic-input>

<!-- Create/Edit Buttons -->
<generic-button
  *ngIf="!!isEdit"
  [type]="'submit'"
  [classButton]="' d-block mx-auto my-5 bef-btn-fullYellow'"
  [customHtml]="!!article._id ? 'Editar artículo' : 'Crear artículo'"
  [tooltip]="!!article._id ? 'Editar artículo' : 'Crear artículo'"
  (clicked)="onClickButton($event)"
>
</generic-button>
