<section *ngIf="article.sections">
  <div *ngFor="let section of article.sections" class="bef bef-my-50px">
    <div
      class="text-dark w-75 mx-auto pl-3 pr-3 rounded bef bef-hmn-360px bef-bg-fullRed"
    >
      <!-- Edit/Delete Buttons -->
      <div
        class="float-right bef bef-ms-MIN25px"
        *ngIf="isEdit == true"
      >
        <button
          *ngIf="editSection == ''"
          class="btn btn-warning mr-2"
          (click)="editSectionBtn(section._id)"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-pencil-square"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </button>

        <button
          *ngIf="editSection == section._id"
          class="btn btn-warning mr-2"
          (click)="deleteSection(section._id)"
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-trash-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
            />
          </svg>
        </button>

        <button
          *ngIf="editSection == section._id"
          class="btn btn-warning mr-2 font-weight-normal"
          (click)="editSectionBtn(section._id)"
        >
          X
        </button>
      </div>

      <!-- Título de la sección -->
      <h3
        *ngIf="section.title && !edits.includes('title')"
        class="d-block mx-auto text-center bef bef-text-fullYellow"
        (click)="onClickButton('┼type┼title', section)"
      >
        <span *ngFor="let title of section.title.split('\n')">
          {{ title }}
          <br />
        </span>
      </h3>

      <h3
        class="w-100 d-block mx-auto pl-5 pr-5"
        *ngIf="(!section.title || edits.includes('title')) && isEdit == true"
      >
        <button
          class="btn btn-warning font-weight-normal float-right"
          (click)="onClickButton('┼type┼title', section)"
        >
          X
        </button>
        <textarea
          class="w-100 border-0 bg-transparent bef bef-text-fullYellow"
          type="text"
          name="title"
          #title="ngModel"
          [(ngModel)]="section.title"
          placeholder="Título de la sección"
          required
        ></textarea>
        <hr class="bef bef-bg-fullYellow" />
        <small
          class="font-weight-bold bef bef-text-fullYellow"
          *ngIf="!title.valid && title.touched"
        >
          El título de la sección no es válido.
        </small>
      </h3>

      <hr class="bef bef-mt-MIN15px bef-text-tlight" />

      <!-- Video de youtube de la sección -->
      <div
        class="d-block mx-auto bef bef-w-256px bef-h-144px bef-w-sm-427px bef-h-sm-240px bef-w-md-640px bef-h-md-360px"
        *ngIf="
          section.ytvideo && section.ytvideo != null && section.ytvideo != ''
        "
      >
        <youtube-player
          class="my-0 mx-auto"
          videoId="{{ section.ytvideo }}"
          SuggestedQuality="hd1080"
        >
        </youtube-player>
      </div>

      <button
        *ngIf="
          !section.ytvideo &&
          !edits.includes('ytvideo') &&
          isEdit == true &&
          editSection == section._id
        "
        class="btn btn-warning d-block mx-auto"
        (click)="onClickButton('┼type┼ytvideo', section)"
      >
        Insertar un video de youtube
      </button>

      <button
        *ngIf="
          section.ytvideo &&
          !edits.includes('ytvideo') &&
          isEdit == true &&
          editSection == section._id
        "
        class="btn btn-warning d-block mx-auto"
        (click)="onClickButton('┼type┼ytvideo', section)"
      >
        Cambiar video de youtube
      </button>

      <div
        class="d-block mx-auto bef bef-wmx-500px w-75"
        *ngIf="
          edits.includes('ytvideo') &&
          isEdit == true &&
          editSection == section._id
        "
      >
        <button
          class="btn btn-warning font-weight-normal float-right"
          (click)="onClickButton('┼type┼ytvideo', section)"
        >
          X
        </button>
        <input
          class="w-100 border-0 bg-transparent text-center bef bef-text-tlight"
          type="text"
          name="ytvideo"
          #ytvideo="ngModel"
          [(ngModel)]="section.ytvideo"
          placeholder="Video de youtube (Código alfanumérico final del enlace)"
        />
        <hr class="bef bef-bg-tlight" />
      </div>

      <!-- Video Principal -->
      <div
        *ngIf="
          section.principalFile &&
          section.principalFile.file &&
          (section.principalFile.type == 'mp4' ||
            section.principalFile.type == 'webm')
        "
      >
        <button
          class="btn position-absolute bef bef-s-25px bef-mt-10px bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          *ngIf="editSection == section._id"
          (click)="
            deleteFilePrincipal(
              section.principalFile.file,
              section.principalFile._id,
              section
            )
          "
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-trash-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
            />
          </svg>
        </button>

        <p class="text-center mt-3 mb-2 bef bef-text-tlight">
          {{ section.principalFile.file }}
        </p>
        <video
          controls
          class="bef bef-wmx-100per bef-hmx-360px my-0 mx-auto d-block bef-text-tlight"
        >
          <source
            src="{{ apiBlog + 'get-file/' + section.principalFile.file }}"
            type="audio/mpeg"
          />
          Tu navegador no soporta videos.
        </video>
        <br />
      </div>

      <!-- Audio principal -->
      <div
        *ngIf="
          section.principalFile &&
          section.principalFile.file &&
          (section.principalFile.type == 'mp3' ||
            section.principalFile.type == 'mpeg' ||
            section.principalFile.type == 'wav' ||
            section.principalFile.type == 'ogg')
        "
      >
        <p class="text-center mt-3 mb-2 bef bef-text-tlight">
          {{ section.principalFile.file }}
        </p>

        <button
          class="btn position-absolute bef bef-s-35px bef-mt-10px bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          *ngIf="editSection == section._id"
          (click)="
            deleteFilePrincipal(
              section.principalFile.file,
              section.principalFile._id,
              section
            )
          "
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-trash-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
            />
          </svg>
        </button>

        <audio class="d-block mx-auto bef bef-text-tlight" controls>
          <source
            src="{{ apiBlog + 'get-file/' + section.principalFile.file }}"
            type="audio/mpeg"
          />
          Tu navegador no soporta archivos de audio.
        </audio>
        <br />
      </div>

      <!-- Download principal -->
      <div
        *ngIf="
          section.principalFile &&
          section.principalFile.file &&
          section.principalFile.type != 'mp3' &&
          section.principalFile.type != 'mpeg' &&
          section.principalFile.type != 'wav' &&
          section.principalFile.type != 'ogg' &&
          section.principalFile.type != 'jpg' &&
          section.principalFile.type != 'png' &&
          section.principalFile.type != 'webp' &&
          section.principalFile.type != 'gif' &&
          section.principalFile.type != 'jpeg' &&
          section.principalFile.type != 'mp4' &&
          section.principalFile.type != 'webm'
        "
        class="w-75 mx-auto overflow-hidden text-center pt-2 pb-1"
      >
        <button
          class="btn position-absolute bef bef-e-35px mt-0 bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          *ngIf="editSection == section._id"
          (click)="
            deleteFilePrincipal(
              section.principalFile.file,
              section.principalFile._id,
              section
            )
          "
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-trash-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
            />
          </svg>
        </button>

        <a
          href="{{ apiBlog + 'get-file/' + section.principalFile.file }}"
          class="text-center mt-3 mb-2 bef bef-text-fullyellow"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ section.principalFile.file }}
        </a>
        <br />
      </div>

      <!-- VIDEOS -->
      <div *ngIf="section.files">
        <div *ngFor="let file of section.files; let i = index">
          <div *ngIf="file.type == 'mp4' || file.type == 'webm'">
            <button
              *ngIf="editSection == section._id"
              class="btn position-absolute bef bef-s-25px bef-mt-10px bef-z-20 bef-bc-tlight bef-bw-1px bef-bs-solid"
              (click)="deleteFileMulti(file.file, file._id, section)"
            >
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                />
              </svg>
            </button>

            <p class="bef bef-text-tlight">
              {{ file.file }}
            </p>
            <video controls class="bef bef-wmx-100per bef-text-tlight">
              <source
                src="{{ apiBlog + 'get-file/' + file.file }}"
                type="audio/mpeg"
              />
              Tu navegador no soporta videos.
            </video>
          </div>
        </div>
        <br />
      </div>

      <!-- IMAGES -->
      <div
        *ngIf="section.files && section.files.length > 1"
        class="d-block my-0 mx-auto bef bef-w-320px"
      >
        <carousel [interval]="2000">
          <div *ngFor="let file of section.files; let i = index">
            <slide
              *ngIf="
                file.type == 'jpg' ||
                file.type == 'png' ||
                file.type == 'gif' ||
                file.type == 'webp' ||
                file.type == 'jpeg'
              "
            >
              <img
                src="{{ apiBlog + 'get-file/' + file.file }}"
                alt="{{ file.file }}"
                (click)="lgModal.show()"
                title="{{ file.file }}"
                class="d-block mx-auto cursor-pointer bef bef-wmx-300px"
              />

              <div class="carousel-caption d-none d-md-block">
                <span
                  class="mx-auto textSHB w-100 overflow-hidden bef bef-text-tlight"
                >
                  {{ file.file }}
                </span>
              </div>
            </slide>
          </div>
        </carousel>

        <div
          bsModal
          #lgModal="bs-modal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="dialog-sizes-name"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content bef bef-bg-fullRed">
              <div class="modal-header bef bef-bg-fullRed">
                <h4
                  id="dialog-sizes-name1"
                  class="modal-title pull-left w-100 overflow-hidden bef bef-text-tlight"
                >
                  Carrusel de imágenes
                </h4>
                <button
                  type="button"
                  class="close pull-right bef bef-text-tlight"
                  aria-label="Close"
                  (click)="lgModal.hide()"
                  aria-label="Close"
                >
                  <span aria-hidden="true">x</span>
                </button>
              </div>

              <div class="modal-body bef bef-bg-fullRed">
                <br />

                <carousel [interval]="2000">
                  <div *ngFor="let file of section.files; let i = index">
                    <slide
                      *ngIf="
                        file.type == 'jpg' ||
                        file.type == 'png' ||
                        file.type == 'gif' ||
                        file.type == 'webp' ||
                        file.type == 'jpeg'
                      "
                    >
                      <button
                        *ngIf="editSection == section._id"
                        class="btn position-absolute bef bef-s-50per bef-mt-10px bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
                        (click)="deleteFileMulti(file.file, file._id, section)"
                      >
                        <svg
                          width="1em"
                          height="1em"
                          viewBox="0 0 16 16"
                          class="bi bi-trash-fill"
                          fill="currentColor"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                          />
                        </svg>
                      </button>

                      <a
                        href="{{ apiBlog + 'get-file/' + file.file }}"
                        title="{{ file.file }}"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <img
                          src="{{ apiBlog + 'get-file/' + file.file }}"
                          alt="{{ file.file }}"
                          title="{{ file.file }}"
                          class="d-block mx-auto bef bef-wmx-100per"
                        />
                      </a>

                      <div class="carousel-caption d-none d-md-block">
                        <p
                          class="mx-auto textSHB w-100 overflow-hidden bef bef-text-tlight"
                        >
                          {{ file.file }}
                        </p>
                      </div>
                    </slide>
                  </div>
                </carousel>

                <br />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Imagen principal -->
      <div
        class="float-left p-3 bef-hmx-330px bef-wmn-150px bef-wmx-50per"
        *ngIf="
          section.principalFile &&
          section.principalFile.file &&
          section.principalFile.file != 'null' &&
          (section.principalFile.type == 'jpg' ||
            section.principalFile.type == 'png' ||
            section.principalFile.type == 'webp' ||
            section.principalFile.type == 'gif' ||
            section.principalFile.type == 'jpeg')
        "
      >
        <button
          *ngIf="editSection == section._id"
          class="btn position-absolute bef bef-e-10px bef-mb-MIN75px bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          (click)="
            deleteFilePrincipal(
              section.principalFile.file,
              section.principalFile._id,
              section
            )
          "
        >
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-trash-fill"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
            />
          </svg>
        </button>

        <img
          class="d-block mx-auto bef bef-hmx-300px bef-wmx-100per"
          src="{{ apiBlog + 'get-file/' + section.principalFile.file }}"
          title="{{ section.principalFile.file }}"
          alt="{{ section.principalFile.file }}"
        />
      </div>

      <!-- Párrafo de la sección -->
      <div
        class="pt-3 px-3 bef bef-overflowX-hidden"
        *ngIf="section.p"
        [innerHTML]="
          {
            text: this.valuefy(section.text),
            textcolor: section.textColor,
            linkcolor: section.linkColor
          }
            | linkify
            | safeHtml
        "
      ></div>

      <div
        *ngIf="
          (!section.p || edits.includes('p')) &&
          isEdit == true &&
          editSection == section._id
        "
        class="pt-3 pl-3 pr-3"
      >
        <button
          class="btn btn-warning font-weight-normal float-right"
          (click)="onClickButton('┼type┼p', section)"
        >
          X
        </button>
        <textarea
          type="text"
          name="p"
          #p="ngModel"
          [(ngModel)]="section.p"
          placeholder="Párrafo"
          class="border-0 bg-transparent w-100 bef bef-text-tlight"
          required
        ></textarea>
        <hr class="bef bef-bg-tlight" />
        <small
          *ngIf="!p.valid && p.touched"
          class="font-weight-bold bef bef-text-tlight"
        >
          El parrafo de la sección no es válido.
        </small>
      </div>

      <!-- Files -->
      <div>
        <!-- IMG -->
        <div *ngIf="section.files && section.files.length == 1">
          <div *ngFor="let file of section.files; let i = index">
            <div
              class="d-block mx-auto bef bef-wmx-100per bef-hmx-500px bef-oveflow-hidden"
              *ngIf="
                file.type == 'jpg' ||
                file.type == 'png' ||
                file.type == 'gif' ||
                file.type == 'webp' ||
                file.type == 'jpeg'
              "
            >
              <div>
                <img
                  src="{{ apiBlog + 'get-file/' + file.file }}"
                  alt="{{ file.file }}"
                  title="{{ file.file }}"
                  (click)="lgModal.show()"
                  class="d-block mx-auto cursor-pointer bef bef-wmx-100per"
                />

                <div
                  bsModal
                  #lgModal="bs-modal"
                  class="modal fade"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="dialog-sizes-name1"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content bef bef-bg-fullRed">
                      <div class="modal-header bef bef-bg-fullRed">
                        <h4
                          id="dialog-sizes-name1"
                          class="modal-title pull-left w-75 overflow-hidden bef bef-text-tlight"
                        >
                          <span class="w-100 overflow-hidden">{{
                            file.file
                          }}</span>
                        </h4>
                        <button
                          type="button"
                          class="close pull-right bef bef-text-tlight"
                          aria-label="Close"
                          (click)="lgModal.hide()"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">x</span>
                        </button>
                      </div>
                      <div class="modal-body bef bef-bg-tlight">
                        <br />

                        <button
                          *ngIf="editSection == section._id"
                          class="btn position-absolute bef bef-s-25px bef-mt-10px bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
                          (click)="
                            deleteFileMulti(file.file, file._id, section)
                          "
                        >
                          <svg
                            width="1em"
                            height="1em"
                            viewBox="0 0 16 16"
                            class="bi bi-trash-fill"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                            />
                          </svg>
                        </button>

                        <a
                          href="{{ apiBlog + 'get-file/' + file.file }}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="d-block mx-auto"
                        >
                          <img
                            src="{{ apiBlog + 'get-file/' + file.file }}"
                            alt="{{ file.file }}"
                            title="{{ file.file }}"
                            class="d-block my-0 mx-auto bef bef-wmx-100per"
                          />
                        </a>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- DOWNLOADS -->
        <div
          *ngIf="section.files && section.files.length >= 1"
          class="w-75 mx-auto overflow-hidden"
        >
          <h5 class="bef bef-text-tlight">Descargas:</h5>
          <br />
          <div *ngFor="let file of section.files; let i = index">
            <button
              *ngIf="editSection == section._id"
              class="btn bef bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid bef-s-35px bef-mt-10px"
              (click)="deleteFileMulti(file.file, file._id, section)"
            >
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                />
              </svg>
            </button>

            <a
              class="bef bef-text-fullYellow"
              href="{{ apiBlog + 'get-file/' + file.file }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ file.file }}
            </a>
          </div>
          <br />
        </div>

        <!-- AUDIOS -->
        <div *ngIf="section.files">
          <div *ngFor="let file of section.files; let i = index">
            <div
              *ngIf="
                file.type == 'mp3' ||
                file.type == 'mpeg' ||
                file.type == 'wav' ||
                file.type == 'ogg'
              "
            >
              <p class="bef bef-text-tlight">
                {{ file.file }}
              </p>

              <button
                *ngIf="editSection == section._id"
                class="btn position-absolute bef bef-s-35px bef-mt-10px bef-z-20 bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
                (click)="deleteFileMulti(file.file, file._id, section)"
              >
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-trash-fill"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                  />
                </svg>
              </button>

              <audio controls class="d-block mx-auto bef bef-text-tlight">
                <source
                  src="{{ apiBlog + 'get-file/' + file.file }}"
                  type="audio/mpeg"
                />
                Tu navegador no soporta archivos de audio.
              </audio>
            </div>
          </div>
          <br />
        </div>

        <!-- File principal Upload -->
        <div *ngIf="isEdit == true && editSection == section._id">
          <!-- File Upload Principal -->
          <app-file-uploader
            [type]="'blog'"
            [typeMeta]="'one'"
            [typeThingComRes]="'principal'"
            [thing]="section.principalFile"
            [thingInside]="true"
            [id]="section._id"
            (pre_loader)="pre_load($event)"
            (recoverThing)="recoverThingFather($event)"
          ></app-file-uploader>
          <!-- END: File Upload Principal -->
        </div>

        <!-- Files Upload -->
        <div *ngIf="isEdit == true && editSection == section._id">
          <!-- File Upload Files -->
          <app-file-uploader
            [type]="'blog'"
            [typeMeta]="'multi'"
            [typeThingComRes]="'multi'"
            [thing]="section.files"
            [thingInside]="true"
            [thing]="section"
            [id]="section._id"
            (pre_loader)="pre_load($event)"
            (recoverThing)="recoverThingFather($event)"
          ></app-file-uploader>
          <!-- END: File Upload Files -->
        </div>
      </div>

      <!-- Colors -->
      <div *ngIf="isEdit == true && editSection == section._id">
        <!-- Color fondo -->
        <div class="d-block w-75 mx-auto pb-2 text-white">
          <label
            for="section.bgColor"
            class="btn d-block w-100 mx-auto bef bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          >
            Color del fondo de la sección
            <input
              type="color"
              id="section.bgColor"
              name="section.bgColor"
              value="section.bgColor"
              [(ngModel)]="section.bgColor"
              (ngModelChange)="cssCreate()"
            />
          </label>
        </div>

        <!-- Color texto -->
        <div class="d-block w-75 mx-auto pb-2 text-white">
          <label
            for="section.textColor"
            class="btn d-block w-100 mx-auto bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          >
            Color de las letras de la sección
            <input
              type="color"
              id="section.textColor"
              name="section.textColor"
              value="section.textColor"
              [(ngModel)]="section.textColor"
              (ngModelChange)="cssCreate()"
            />
          </label>
        </div>

        <!-- Color link -->
        <div class="d-block w-75 mx-auto pb-2 text-white">
          <label
            for="section.linkColor"
            class="btn d-block w-100 mx-auto bef bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          >
            Color de los links de la sección
            <input
              type="color"
              id="section.linkColor"
              name="section.linkColor"
              value="section.linkColor"
              [(ngModel)]="section.linkColor"
              (ngModelChange)="cssCreate()"
            />
          </label>
        </div>

        <!-- Color título -->
        <div class="d-block w-75 mx-auto pb-2 text-white">
          <label
            for="section.titleColor"
            class="btn d-block w-100 mx-auto bef-text-tlight bef-bc-tlight bef-bw-1px bef-bs-solid"
          >
            Color del título de la sección
            <input
              type="color"
              id="section.titleColor"
              name="section.titleColor"
              value="section.titleColor"
              [(ngModel)]="section.titleColor"
              (ngModelChange)="cssCreate()"
            />
          </label>
        </div>
      </div>

      <br />

      <!-- Edit Button -->
      <div
        class="mt-5 mb-5"
        *ngIf="isEdit == true && editSection == section._id"
      >
        <button
          class="mx-auto d-block btn btn-warning text-center text-primary border-0"
          (click)="onSubmitSectionEdit(section)"
        >
          Editar sección
        </button>
      </div>

      <br />
    </div>
  </div>
</section>

<!-- New section -->
<section
  class="w-75 mx-auto px-3 rounded bef bef-hmn-360px bef-bg-fullRed"
  *ngIf="article._id && article._id != '' && isEdit == true"
>
  <!-- Título de la sección -->
  <h3
    *ngIf="section.title && !edits.includes('title')"
    class="d-block mx-auto text-center bef bef-text-fullYellow"
    (click)="onClickButton('┼type┼title', section)"
  >
    <span *ngFor="let title of section.title.split('\n')">
      {{ title }}
      <br />
    </span>
  </h3>

  <h3
    class="w-100 d-block mx-auto pl-5 pr-5"
    *ngIf="(!section.title || edits.includes('title')) && isEdit == true"
  >
    <button
      class="btn btn-warning font-weight-normal float-right"
      (click)="onClickButton('┼type┼title', section)"
    >
      X
    </button>
    <textarea
      class="w-100 border-0 bg-transparent bef bef-text-fullYellow"
      type="text"
      name="title"
      #title="ngModel"
      [(ngModel)]="section.title"
      placeholder="Título de la sección"
      (keydown.esc)="onClickButton('┼type┼title', section)"
      required
    ></textarea>
    <hr class="bef bef-bg-fullYellow" />
    <small
      class="font-weight-bold bef bef-text-fullYellow"
      *ngIf="!title.valid && title.touched"
    >
      El título de la sección no es válido.
    </small>
  </h3>

  <hr class="bef bef-mt-MIN15px bef-bg-tlight" />

  <!-- Párrafo de la sección -->
  <div
    class="pt-3 px-3 bef bef-overflowX-hidden"
    *ngIf="section.text"
    [innerHTML]="
      {
        text: this.valuefy(section.text),
        textcolor: section.textColor,
        linkcolor: section.linkColor
      }
        | linkify
        | safeHtml
    "
  ></div>

  <div
    *ngIf="(!section.text || edits.includes('text')) && isEdit == true"
    class="pt-3 pl-3 pr-3"
  >
    <button
      class="btn btn-warning font-weight-normal float-right"
      (click)="onClickButton('┼type┼text', section)"
    >
      X
    </button>
    <textarea
      class="border-0 bg-transparent w-100 bef-text-tlight"
      type="text"
      name="text"
      #p="ngModel"
      [(ngModel)]="section.text"
      placeholder="Párrafo"
      required
    ></textarea>
    <hr class="bef bef-bg-tlight" />
    <small
      class="font-weight-bold bef bef-text-tlight"
      *ngIf="!p.valid && p.touched"
    >
      El parrafo de la sección no es válido.
    </small>
  </div>

  <!-- Colors -->
  <div>
    <!-- Color fondo -->
    <div class="d-block w-75 mx-auto pb-2 text-white">
      <label
        for="section.bgColor"
        class="btn d-block w-100 mx-auto bef bef-bf-fullRed"
      >
        Color del fondo de la sección
        <input
          type="color"
          id="section.bgColor"
          name="section.bgColor"
          value="section.bgColor"
          [(ngModel)]="section.bgColor"
          (ngModelChange)="cssCreate()"
        />
      </label>
    </div>

    <!-- Color texto -->
    <div class="d-block w-75 mx-auto pb-2 text-white">
      <label
        for="section.textColor"
        class="btn d-block w-100 mx-auto bef bef-bf-fullRed bef-text-tlight"
      >
        Color de las letras de la sección
        <input
          type="color"
          id="section.textColor"
          name="section.textColor"
          value="section.textColor"
          [(ngModel)]="section.textColor"
          (ngModelChange)="cssCreate()"
        />
      </label>
    </div>

    <!-- Color link -->
    <div class="d-block w-75 mx-auto pb-2 text-white">
      <label
        for="section.linkColor"
        class="btn d-block w-100 mx-auto bef bef-bg-fullRed bef-text-tlight"
      >
        Color de los links de la sección
        <input
          type="color"
          id="section.linkColor"
          name="section.linkColor"
          value="section.linkColor"
          [(ngModel)]="section.linkColor"
          (ngModelChange)="cssCreate()"
        />
      </label>
    </div>

    <!-- Color título -->
    <div class="d-block w-75 mx-auto pb-2 text-white">
      <label
        for="section.titleColor"
        class="btn d-block w-100 mx-auto bef bef-bg-fullRed bef-text-tlight"
      >
        Color del título de la sección
        <input
          type="color"
          id="section.titleColor"
          name="section.titleColor"
          value="section.titleColor"
          [(ngModel)]="section.titleColor"
          (ngModelChange)="cssCreate()"
        />
      </label>
    </div>
  </div>

  <br />

  <!-- Create Button -->
  <div class="mt-5 mb-5" *ngIf="isEdit == true">
    <button
      class="mx-auto d-block btn btn-warning text-center text-primary border-0"
      (click)="onSubmitSectionNew()"
    >
      Crear sección
    </button>
  </div>

  <br />
</section>
