<h3 class="text-center bef-my-1_5rem bef-text-tlight">
  Selecciona las sub-categorías del artículo
</h3>
<div class="d-flex justify-content-evenly align-items-center flex-wrap">
  <div
    *ngFor="let subCat of subCats; let i = index; let last$ = last"
    [exist]="last$"
    (ngInit)="cssCreate()"
    class="p-2 text-center bef bef-lh-1_5 bef-bw-0_25rem bef-bs-solid bef-r-25px"
    [ngClass]="{
      'bef-bc-success': !!subCatBringer(subCat, true),
      'bef-bc-transparent': !subCatBringer(subCat, true)
    }"
  >
    <label
      (click)="onClickChangeSubCat(subCats[i]._id)"
      class="d-block badge rounded-pill bef bef-mb-1rem bef-p-0_5rem__1rem {{
        'bef-text-' + subCat.titleColor.replace('#', 'HASH') + ' bef-bg-' + subCat.buttonColor.replace('#', 'HASH')
      }}"
    >
      {{ subCat.title }}
    </label>
    <!-- Edit/Delete Buttons Cat -->
    <generic-group-buttons
      [buttonComboClass]="'d-flex justify-content-center'"
      [buttons]="[
        {
          type: 'edit┼subCat┼' + subCats[i]._id,
          classButton:
            'bef-btn-fullYellow bef-cursor-pointer mx-2 bef-w-50px bef-h-50px',
          customHtml: 'edit┼subCat┼' + subCats[i]._id,
          tooltip: 'Editar'
        },
        {
          type: 'delete┼subCat┼' + subCats[i]._id,
          classButton:
            'bef-btn-fullYellow bef-cursor-pointer mx-2 bef-w-50px bef-h-50px',
          customHtml: 'delete┼subCat┼' + subCats[i]._id,
          tooltip: 'Borrar'
        }
      ]"
      (clicked)="onClickButton($event)"
    ></generic-group-buttons>
  </div>
</div>
<!-- Crear o editar SubCategoría -->
<div class="d-block my-3">
  <generic-input
    class="d-block w-75 mx-auto my-3"
    [thingFather]="subCat"
    [thing]="'title'"
    [type]="'text'"
    [labelTitle]="'SubCategoría'"
    [placeholder]="'SubCategoría'"
    [spans]="[
      {
        text: 'La sub-categoría no es válida.',
        evalThing: 'required',
        spanClass: 'bef-text-fullRed'
      }
    ]"
    [labelClasses]="'bef-text-tlight'"
    [inputClasses]="'bef-text-fullYellow w-100 border-0 bg-transparent'"
    [inputContainerClasses]="'d-flex bef bef-w-100per align-items-center'"
    [hrClasses]="'bef-bg-tlight'"
    (changesInput)="(null)"
  ></generic-input>
  <!-- Color fondo -->
  <label
    for="subCat.buttonColor"
    class="btn d-block w-75 mx-auto my-2 bef bef-bg-{{
      subCat.buttonColor.replace('#', 'HASH') || 'dark'
    }} bef-text-{{ subCat.titleColor.replace('#', 'HASH') || 'light' }}"
  >
    Color del fondo de la sub-categoría
    <input
      type="color"
      id="subCat.buttonColor"
      name="subCat.buttonColor"
      value="subCat.buttonColor"
      [(ngModel)]="subCat.buttonColor"
      (ngModelChange)="cssCreate()"
    />
  </label>
  <!-- Color texto -->
  <label
    for="subCat.titleColor"
    class="btn d-block w-75 mx-auto my-2 bef bef-bg-{{
      subCat.buttonColor.replace('#', 'HASH') || 'dark'
    }} bef-text-{{ subCat.titleColor.replace('#', 'HASH') || 'light' }}"
  >
    Color de las letras de la sub-categoría
    <input
      type="color"
      id="subCat.titleColor"
      name="subCat.titleColor"
      value="subCat.titleColor"
      [(ngModel)]="subCat.titleColor"
      (ngModelChange)="cssCreate()"
    />
  </label>
  <generic-group-buttons
    [buttonComboClass]="'d-flex justify-content-center'"
    [buttons]="
      !!subCat._id
        ? [
            {
              type: 'cancel┼subCat┼' + subCat._id,
              classButton:
                'bef-btn-fullYellow bef-cursor-pointer mx-3 bef-w-50px bef-h-50px',
              customHtml: 'cancel┼subCat┼' + subCat._id,
              tooltip: 'Cancelar'
            },
            {
              type: 'aceptCat',
              classButton:
                'bef-btn-fullYellow bef-cursor-pointer mx-3 bef-w-50px bef-h-50px',
              disabledClassButton: 'mx-3 bef-w-50px bef-h-50px',
              customHtml: 'aceptCat',
              tooltip: 'Aceptar',
              disabled: !subCat.title
            }
          ]
        : [
            {
              type: 'aceptCat',
              classButton:
                'bef-btn-fullYellow bef-cursor-pointer mx-3 bef-w-50px bef-h-50px',
              disabledClassButton: 'mx-3 bef-w-50px bef-h-50px',
              customHtml: 'aceptCat',
              tooltip: 'Aceptar',
              disabled: !subCat.title
            }
          ]
    "
    (clicked)="onClickButton($event)"
  ></generic-group-buttons>
</div>
