<div
  class="
    w-75 bef bef-wmx-350px bef-wmn-275px
    mx-auto
    my-5
    bef-boxShadow-0__0__5px__tdark__OPA__0_25
    bef-rounded-30px
    p-3
  "
>
  <h2 class="text-center bef bef-text-tlight my-3">Login</h2>

  <!-- Email -->
  <div class="d-block w-75 mx-auto my-3">
    <!--     *ngIf="user.email.length > 0" -->
    <label class="bef bef-text-tlight mb-1 d-block" for="email"
      >Correo electrónico</label
    >
    <input
      class="w-100 bef bef-text-tdark bef-bg-tlight bef-border-0"
      type="email"
      name="email"
      #email="ngModel"
      [(ngModel)]="user.email"
      placeholder="Correo electrónico"
      required
    />
    <!--     <hr class="bg-textM" /> -->
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!email.valid && email.touched"
    >
      El correo electrónico es obligatorio.
    </span>
  </div>

  <!-- Password -->
  <div class="d-block w-75 mx-auto my-3">
    <!--     *ngIf="user.password.length > 0" -->
    <label class="bef bef-text-tlight mb-1 d-block" for="password">Contraseña</label>
    <input
      class="w-100 bef bef-text-tdark bef-bg-tlight bef-border-0"
      type="password"
      name="password"
      #password="ngModel"
      [(ngModel)]="user.password"
      placeholder="Contraseña"
      required
    />
    <!--     <hr class="bg-textM" /> -->
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!password.valid && password.touched"
    >
      La contraseña es obligatoria.
    </span>
  </div>

  <!-- Submit -->
  <button
    (click)="onSubmit()"
    *ngIf="user.password.length > 0 && user.email.length > 0"
    class="btn bef bef-btn-fullRed bef-text-tdark p-2 mx-auto my-5 d-block w-50"
  >
    Login
  </button>
</div>
