<div
  id="CV"
  class="py-3 my-3 w-100vw position-relative"
  >
  <img
  id="CVBG"
    *ngIf="main && main.CVBackground && main.CVBackground.location"
    src="{{ urlMain + 'get-file/' + main.CVBackground.location }}"
    alt="{{ lang === 'es' ? main.CVBackground.title : main.CVBackground.titleEng }}"
    title="{{ lang === 'es' ? main.CVBackground.title : main.CVBackground.titleEng }}"
    class="
      obj-fit-cover
      d-block
      position-fixed
      top-0
      start-0
      w-100vw
      h-min-100vh
    "
  />
  <!-- [ngStyle]="{
    background:
      main && main.CVBackground && main.CVBackground.location
        ? 'url(' +
          urlMain +
          'get-file/' +
          main.CVBackground.location +
          ') center center no-repeat'
        : '',
    'background-size': 'cover',
    'background-blend-mode': 'difference'
  }" -->
  <h2 class="text-center mt-3 mb-5">CV</h2>

  <img
  id="CVImage"
    *ngIf="main && main.CVImage && main.CVImage.location"
    src="{{ urlMain + 'get-file/' + main.CVImage.location }}"
    alt="{{ lang === 'es' ? main.CVImage.title : main.CVImage.titleEng }}"
    title="{{ lang === 'es' ? main.CVImage.title : main.CVImage.titleEng }}"
    class="
      obj-fit-cover
      d-block
      mx-auto
      my-3
      rounded-15
      box-shadow-0-0-5-tlight
    "
    [ngClass]="{
      'w-50vw h-50vw': checkWindowWidth('down', 767),
      'w-25vw h-25vw': checkWindowWidth('up', 767)
    }"
  />

  <div
    class="text-center d-block mx-auto my-3 fw-bold"
    [ngClass]="{
      'w-80vw': checkWindowWidth('down', 767),
      'w-50vw': checkWindowWidth('up', 767)
    }"
  >
    <p>Alec Jonathan Montaño Romero Lynx Pardelle</p>
    <p>Experience areas:</p>
    <ul class="text-tlight">
      <li>Music and audiovisual production</li>
      <li>Audio engineering</li>
      <li>Sound, graphic and web design</li>
      <li>Web development</li>
      <li>Digital animation</li>
      <li>Course facilitation</li>
      <li>Glitch art</li>
      <li>Logistics</li>
    </ul>
  </div>

  <accordion
    [closeOthers]="true"
    [isAnimated]="true"
    class="mx-auto d-block"
    [ngClass]="{
      'w-80vw': checkWindowWidth('down', 767),
      'w-66vw': checkWindowWidth('up', 767)
    }"
  >
    <accordion-group
      [panelClass]="'bg-fullRed text-center'"
      (isOpenChange)="checkAccordion($event)"
    >
      <div accordion-heading class="position-relative">
        <h3 class="text-center text-tdark fs-1rem">Computer programs</h3>
        <span class="position-absolute top-0 end-0">
          <ng-container *ngIf="true; else elseCVAHTemplate">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </ng-container>
          <ng-template #elseCVAHTemplate>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-up-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
              />
            </svg>
          </ng-template>
        </span>
      </div>
      <accordion
        [closeOthers]="true"
        [isAnimated]="true"
        class="mx-auto d-block w-80"
      >
        <accordion-group
          [panelClass]="'bg-tdark text-center'"
          (isOpenChange)="checkAccordion($event)"
        >
          <div accordion-heading class="position-relative">
            <h3 class="text-center text-tlight fs-1rem">Music Production</h3>
            <span class="position-absolute top-0 end-0 text-tlight">
              <ng-container *ngIf="true; else elseCVAHITemplate">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                  />
                </svg>
              </ng-container>
              <ng-template #elseCVAHITemplate>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-up-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
                  />
                </svg>
              </ng-template>
            </span>
          </div>
          <p class="text-tlight">Content.</p>
        </accordion-group>
      </accordion>
      <p class="text-tdark">Content.</p>
    </accordion-group>
  </accordion>

  <div
    class="text-center d-block mx-auto my-3 fw-bold"
    [ngClass]="{
      'w-80vw': checkWindowWidth('down', 767),
      'w-50vw': checkWindowWidth('up', 767)
    }"
  >
    <p>Values and attitudes</p>
    <p class="d-flex flex-wrap justify-content-evenly">
      <span> Responsbility </span>
      <span> Order </span>
      <span> Puntuality </span>
      <span> Creativity </span>
      <span> Proactivity </span>
    </p>
  </div>
</div>
