<div id="CV" class="py-3 my-3 w-100vw position-relative">
  <!-- Edit/Delete Buttons -->
  <div
    class="position-fixed end-0"
    *ngIf="identity && identity.role == 'ROLE_ADMIN'"
    [ngStyle]="{ top: checkWindowWidth('down', 767) ? '150px' : '15%' }"
  >
    <button
      *ngIf="edit === false"
      class="btn bg-fullYellow text-tdark mr-2"
      (click)="editChange()"
    >
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-pencil-square"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        />
      </svg>
    </button>

    <button
      *ngIf="edit == true"
      class="btn bg-fullYellow text-tdark mr-2 font-weight-normal float-right"
      (click)="editChange()"
    >
      X
    </button>
  </div>

  <img
    id="CVBG"
    *ngIf="main && main.CVBackground && main.CVBackground.location"
    src="{{ urlMain + 'get-file/' + main.CVBackground.location }}"
    alt="{{
      lang === 'es' ? main.CVBackground.title : main.CVBackground.titleEng
    }}"
    title="{{
      lang === 'es' ? main.CVBackground.title : main.CVBackground.titleEng
    }}"
    class="
      obj-fit-cover
      d-block
      position-absolute
      top-0
      start-0
      w-100vw
      h-min-100vh
    "
    [ngStyle]="{ height: checkHeight() + 'px' }"
  />
  <h2 class="text-center mt-3 mb-5">CV</h2>

  <img
    id="CVImage"
    *ngIf="main && main.CVImage && main.CVImage.location"
    src="{{ urlMain + 'get-file/' + main.CVImage.location }}"
    alt="{{ lang === 'es' ? main.CVImage.title : main.CVImage.titleEng }}"
    title="{{ lang === 'es' ? main.CVImage.title : main.CVImage.titleEng }}"
    class="
      obj-fit-cover
      d-block
      mx-auto
      my-3
      rounded-15
      box-shadow-0-0-5-tlight
    "
    [ngClass]="{
      'w-50vw h-50vw': checkWindowWidth('down', 767),
      'w-25vw h-25vw': checkWindowWidth('up', 767)
    }"
  />

  <div
    *ngIf="
      main &&
      main.CVDesc &&
      main.CVDesc !== '' &&
      main.CVDescEng &&
      main.CVDescEng !== ''
    "
    class="text-center text-tlight d-block mx-auto my-5 fw-bold"
    [ngClass]="{
      'w-80vw': checkWindowWidth('down', 767),
      'w-50vw': checkWindowWidth('up', 767)
    }"
  >
    <ng-container *ngIf="lang === 'es'; else elseCVDescTemplate">
      <div
        *ngIf="main.CVDesc && main.CVDesc !== ''"
        [innerHTML]="
          Linkify(this.valuefy(main.CVDesc), '#ffffff', '#f9c24f') | safeHtml
        "
      ></div>
    </ng-container>
    <ng-template #elseCVDescTemplate>
      <div
        *ngIf="main.CVDescEng && main.CVDescEng !== ''"
        [innerHTML]="
          Linkify(this.valuefy(main.CVDescEng), '#ffffff', '#f9c24f') | safeHtml
        "
      ></div>
    </ng-template>
  </div>

  <accordion
    [closeOthers]="true"
    [isAnimated]="true"
    class="mx-auto d-block"
    [ngClass]="{
      'w-80vw': checkWindowWidth('down', 767),
      'w-66vw': checkWindowWidth('up', 767)
    }"
  >
    <accordion-group
      [panelClass]="'bg-fullRed text-center'"
      (isOpenChange)="checkAccordion($event)"
    >
      <div accordion-heading class="position-relative">
        <h3 class="text-center text-tdark fs-1rem">Computer programs</h3>
        <span class="position-absolute top-0 end-0">
          <ng-container *ngIf="true; else elseCVAHTemplate">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </ng-container>
          <ng-template #elseCVAHTemplate>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-up-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
              />
            </svg>
          </ng-template>
        </span>
      </div>
      <accordion
        [closeOthers]="true"
        [isAnimated]="true"
        class="mx-auto d-block w-80"
      >
        <accordion-group
          [panelClass]="'bg-tdark text-center'"
          (isOpenChange)="checkAccordion($event)"
        >
          <div accordion-heading class="position-relative">
            <h3 class="text-center text-tlight fs-1rem">Music Production</h3>
            <span class="position-absolute top-0 end-0 text-tlight">
              <ng-container *ngIf="true; else elseCVAHITemplate">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-down-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                  />
                </svg>
              </ng-container>
              <ng-template #elseCVAHITemplate>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-up-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
                  />
                </svg>
              </ng-template>
            </span>
          </div>
          <p class="text-tlight">Content.</p>
        </accordion-group>
      </accordion>
      <p class="text-tdark">Content.</p>
    </accordion-group>
  </accordion>

  <div
    *ngIf="
      main &&
      main.CVDesc2 &&
      main.CVDesc2 !== '' &&
      main.CVDesc2Eng &&
      main.CVDesc2Eng !== ''
    "
    class="text-center text-tlight d-block mx-auto my-5 fw-bold"
    [ngClass]="{
      'w-80vw': checkWindowWidth('down', 767),
      'w-50vw': checkWindowWidth('up', 767)
    }"
  >
    <ng-container *ngIf="lang === 'es'; else elseCVDesc2Template">
      <div
        *ngIf="main.CVDesc2 && main.CVDesc2 !== ''"
        [innerHTML]="
          Linkify(this.valuefy(main.CVDesc2), '#ffffff', '#f9c24f') | safeHtml
        "
      ></div>
    </ng-container>
    <ng-template #elseCVDesc2Template>
      <div
        *ngIf="main.CVDesc2Eng && main.CVDesc2Eng !== ''"
        [innerHTML]="
          Linkify(this.valuefy(main.CVDesc2Eng), '#ffffff', '#f9c24f')
            | safeHtml
        "
      ></div>
    </ng-template>
  </div>
</div>
