<!-- Edit/Delete Buttons -->
<div
  class="position-fixed end-0"
  *ngIf="identity && identity.role == 'ROLE_ADMIN'"
  [ngStyle]="{ top: checkWindowWidth('down', 767) ? '150px' : '15%' }"
>
  <button
    *ngIf="edit === false"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2"
    (click)="editChange()"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-pencil-square"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
      />
      <path
        fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
      />
    </svg>
  </button>

  <button
    *ngIf="edit == true"
    class="btn bef bef-btn-fullYellow bef-text-tdark mr-2 font-weight-normal float-right"
    (click)="editChange()"
  >
    X
  </button>
</div>

<h2 class="text-center">Demo Reel</h2>

<section>
  <article class="my-5" *ngFor="let video of videos">
    <!-- Edit/Delete Buttons -->
    <div
      class="position-absolute end-0"
      *ngIf="identity && identity.role == 'ROLE_ADMIN'"
      [ngStyle]="{ top: checkWindowWidth('down', 767) ? '150px' : '15%' }"
    >
      <button
        *ngIf="this.video._id !== video._id"
        class="btn bef bef-btn-fullYellow bef-text-tdark mr-2"
        (click)="videoEdit(video)"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-pencil-square"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
          />
          <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
          />
        </svg>
      </button>

      <button
        *ngIf="this.video._id === video._id"
        class="btn bef bef-btn-fullYellow bef-text-tdark mr-2 font-weight-normal float-right"
        (click)="videoEdit(video)"
      >
        X
      </button>
    </div>
    <h3 class="text-center my-3">
      <ng-container *ngIf="lang === 'es'; else elseVideoTitleTemplate">
        {{ video.title }}
      </ng-container>
      <ng-template #elseVideoTitleTemplate>
        {{ video.titleEng }}
      </ng-template>
    </h3>
    <video
      *ngIf="video.video && video.video.location && video.video.location !== ''"
      class="w-100 bef bef-wmx-100vw bef-hmx-100vh mx-auto"
      controls
    >
      <source
        src="{{ urlMain + 'get-file/' + video.video.location }}"
        type="video/mp4"
      />
    </video>
    <div
      *ngIf="video.insert && video.insert !== ''"
      class="bef bef-w-100vw bef-h-75vh mx-auto"
      [innerHTML]="video.insert | safeHtml"
    ></div>
    <youtube-player
      videoId="{{ video.link }}"
      SuggestedQuality="hd1080"
      class="w-100 bef bef-wmx-100vw bef-hmx-100vh mx-auto"
    >
    </youtube-player>
  </article>
</section>

<section class="my-5 py-5" *ngIf="edit === true">
  <h2 class="text-center my-3">
    <ng-container
      *ngIf="video._id && video._id !== ''; else elseVideoIdTemplate"
    >
      Edición
    </ng-container>
    <ng-template #elseVideoIdTemplate> Creación </ng-template>
    del video
  </h2>

  <!-- Title Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="title">Título</label>
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="title"
      #title="ngModel"
      [(ngModel)]="video.title"
      placeholder="Título"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!title.valid && title.touched"
    >
      El título es obligatorio.
    </span>
  </div>

  <!-- TitleEng Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="titleEng"
      >Title(English)</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="titleEng"
      #titleEng="ngModel"
      [(ngModel)]="video.titleEng"
      placeholder="Title"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!titleEng.valid && titleEng.touched"
    >
      The title(english) is required.
    </span>
  </div>

  <!-- Link Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="link">Link</label>
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="link"
      #link="ngModel"
      [(ngModel)]="video.link"
      placeholder="Link"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!link.valid && link.touched"
    >
      El link es obligatorio.
    </span>
  </div>

  <!-- Insert Edit -->
  <div class="d-block w-75 mx-auto my-3">
    <label class="bef bef-text-tlight mb-1 d-block" for="insert"
      >Inserción</label
    >
    <input
      class="w-100 bef bef-text-tlight bef-bg-tdark border-0"
      type="text"
      name="insert"
      #insert="ngModel"
      [(ngModel)]="video.insert"
      placeholder="Inserción"
      required
    />
    <span
      class="bef bef-text-tlight font-weight-bold"
      *ngIf="!insert.valid && insert.touched"
    >
      La inserción es obligatoria.
    </span>
  </div>

  <div
    *ngIf="video._id && video._id !== ''"
    class="my-5 d-flex flex-wrap justify-content-evenly"
  >
    <!-- Video Upload -->
    <div class="m-3">
      <h3 class="bef bef-text-tlight text-center w-75 my-3 d-block mx-auto">
        Subida de video
      </h3>
      <img
        *ngIf="video && video.video && video.video.location"
        class="bef bef-wmx-75per d-block mx-auto bef-hmx-25vh my-3"
        src="{{ urlMain + 'get-file/' + video.video.location }}"
        alt="{{ video.title }}"
      />
      <app-file-uploader
        [type]="'main'"
        [typeMeta]="'one'"
        [typeThingComRes]="'video'"
        [thing]="video.video"
        [thingInside]="true"
        [id]="video._id"
        (pre_loader)="pre_load($event)"
        (recoverThing)="recoverThingFather($event)"
      ></app-file-uploader>
    </div>
  </div>

  <!-- Submit -->
  <button
    (click)="onSubmit()"
    class="bef btn bef-btn-fullRed bef-text-tdark p-2 mx-auto my-5 d-block w-50"
  >
    Submit
  </button>
</section>
