<label
  *ngIf="
    !type.includes('select') &&
    labelTitle !== '' &&
    (type === 'checkbox' ||
      (thingFather[thing] && thingFather[thing].length > 0))
  "
  [exist]="
    !type.includes('select') &&
    labelTitle !== '' &&
    thingFather[thing] &&
    thingFather[thing].length > 0
  "
  (ngInit)="cssCreate()"
  [ngClass]="labelClasses"
  for="{{ thing }}"
>
  {{ labelTitle }}
</label>
<!-- <p *ngIf="type === 'date'" [ngClass]="inputClasses">
  {{ thingFather[thing] | date }}
</p> -->
<div class="{{ inputContainerClasses }}">
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'textarea'">
      <textarea
        [ngClass]="
          disabled && !!inputDisabledClasses && inputDisabledClasses !== ''
            ? inputDisabledClasses
            : readonly && !!readonlyClasses && readonlyClasses !== ''
            ? readonlyClasses
            : inputClasses
        "
        name="{{ thing }}"
        #[thing]="ngModel"
        [(ngModel)]="thingFather[thing]"
        (ngModelChange)="writtingInInput($event)"
        placeholder="{{ type !== 'date' ? placeholder : thingFather[thing] }}"
        [disabled]="disabled"
        [readonly]="readonly"
        required
      >
      </textarea>
    </ng-container>
    <ng-container *ngSwitchCase="'checkbox'">
      <button
        class="btn bef bef-w-25px bef-h-25px bef-rounded-5px mat-elevation-z1"
        [ngClass]="
          (disabled && !!disabledClassButton && disabledClassButton !== ''
            ? disabledClassButton
            : buttonClasses) +
          (!!thingFather[thing] ? ' bef-btn-success' : ' bef-btn-white')
        "
        [exist]="type === 'checkbox'"
        (ngInit)="cssCreate()"
        (click)="changeValue(!thingFather[thing])"
        [disabled]="disabled || readonly"
      ></button>
    </ng-container>
    <ng-container *ngSwitchCase="'radio'">
      <div
        class="bef bef-w-250px d-flex justify-content-evenly align-items-center"
      >
        <div
          *ngFor="let op of options; let $last = last"
          [exist]="$last"
          (ngInit)="cssCreate()"
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <p class="text-center text-capitalize">{{ op.option }}</p>
          <button
            class="btn bef bef-w-25px bef-h-25px bef-rounded-100px mat-elevation-z2"
            [ngClass]="
              (disabled && !!disabledClassButton && disabledClassButton !== ''
                ? disabledClassButton
                : buttonClasses) +
              (thingFather[thing] === op.click
                ? op.customClasses && op.customClasses !== ''
                  ? op.customClasses
                  : ' bef-btn-TODO__CheckColorAzulClaro '
                : op.disabledClasses && op.disabledClasses !== ''
                ? op.disabledClasses
                : ' bef-btn-white ')
            "
            (click)="changeValue(op.click)"
            [disabled]="disabled || readonly"
          ></button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'select'">
      <generic-dropdown
        [labelTitle]="labelTitle"
        [placeholder]="placeholder"
        [labelClasses]="labelClasses"
        [buttonClasses]="buttonClasses"
        [listClasses]="listClasses"
        [options]="options"
        [disabled]="disabled || readonly"
        (clickedTitle)="clickedTitle.emit($event)"
        (clicked)="clicked.emit($event)"
      ></generic-dropdown>
    </ng-container>
    <ng-container *ngSwitchCase="'select-withSearcher'">
      <generic-dropdown
        [labelTitle]="labelTitle"
        [placeholder]="placeholder"
        [labelClasses]="labelClasses"
        [buttonClasses]="buttonClasses"
        [disabledClassButton]="disabledClassButton"
        [listClasses]="listClasses"
        [options]="options"
        [disabled]="disabled || readonly"
        [withSearcher]="true"
        (clickedTitle)="clickedTitle.emit($event)"
        (clicked)="clicked.emit($event)"
        (changesInput)="changesInput.emit($event)"
      ></generic-dropdown>
    </ng-container>
    <ng-container *ngSwitchCase="'multiselect-withSearcher'">
      <generic-dropdown
        class="w-100"
        [labelTitle]="labelTitle"
        [placeholder]="placeholder"
        [labelClasses]="labelClasses"
        [buttonClasses]="buttonClasses"
        [disabledClassButton]="disabledClassButton"
        [listClasses]="listClasses"
        [options]="options"
        [disabled]="disabled || readonly"
        [withSearcher]="true"
        [multiselect]="true"
        (clickedTitle)="clickedTitle.emit($event)"
        (clicked)="clicked.emit($event)"
        (changesInput)="changesInput.emit($event)"
      ></generic-dropdown>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <input
        [ngClass]="
          disabled && !!inputDisabledClasses && inputDisabledClasses !== ''
            ? inputDisabledClasses
            : readonly && !!readonlyClasses && readonlyClasses !== ''
            ? readonlyClasses
            : inputClasses
        "
        type="{{ inputMaskActive === true ? 'text' : type }}"
        name="{{ thing }}"
        #[thing]="ngModel"
        [(ngModel)]="thingFather[thing]"
        (ngModelChange)="writtingInInput($event)"
        placeholder="{{
          type !== 'date'
            ? placeholder
            : (thingFather[thing] | date : 'yyyy-MM-dd')
        }}"
        value="{{
          type !== 'date'
            ? thingFather[thing]
            : (thingFather[thing] | date : 'yyyy-MM-dd')
        }}"
        [disabled]="disabled"
        [readOnly]="readonly"
        [required]="getRequired()"
      />
    </ng-container>
  </ng-container>
  <ng-container *ngFor="let button of buttons">
    <generic-button
      [type]="button.type ? button.type : 'customHTML'"
      [classButton]="button.classButton ? button.classButton : ''"
      [disabledClassButton]="
        button.disabledClassButton ? button.disabledClassButton : ''
      "
      [customHtml]="button.customHtml ? button.customHtml : ''"
      [disabled]="button.disabled !== undefined ? button.disabled : false"
      [tooltip]="button.tooltip ? button.tooltip : ''"
      [placement]="button.placement ? button.placement : 'auto'"
      [tooltipClass]="button.tooltipClass ? button.tooltipClass : ''"
      (clicked)="clicked.emit($event)"
    ></generic-button>
  </ng-container>
</div>
<hr *ngIf="!!hrActive" [ngClass]="hrClasses" />
<ng-container
  *ngFor="let span of spans; let last$ = last"
  [exist]="last$"
  (ngInit)="cssCreate()"
>
  <span [ngClass]="'bef ' + span.spanClass" *ngIf="evalThing(span.evalThing)">
    {{ span.text }}
  </span>
</ng-container>
